<div class="content">
  <div class="row mt-4 about-title"><h1>About Me</h1></div>
  <div class="row mt-4 p-2"> 
    <div class="col-sm-4 about-pic"><img src="images/me.jpg" alt="" class="rounded"></div>
    <div class="col-sm-8">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero esse laborum fugiat suscipit nam quasi, hic obcaecati quidem ullam facilis molestias, accusamus deleniti minus consectetur.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quisquam, quibusdam deserunt perspiciatis temporibus molestiae laudantium sed vitae optio laborum quas. Vitae consequatur nihil molestiae quam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, aut.</p>
        </div>
    </div>
  </div>
<br>