<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-custom">
      <p class="container">&copy; Copyright 2021. All Rights Reserved. Zachery Cardoza.</p>
    </nav>
  </footer>