<!-- File Name: home_page_content.ejs | Student Name: Zachery Cardoza | Student Id: 301183433 | Oct 2nd, 2021 -->
<div class="content">
    <div class="row mt-5 mb-5"><h1>Hello, World!</h1></div>
    <div class="container-content-form-btn col-12">
      <button class="content-form-btn" onclick="javascript:location.href='/about'">
        About Me
      </button>
    </div>
  </div>