<!-- Main Navigation -->
  <nav class="navbar navbar-expand-md navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="/">Zachery Cardoza</a>
    
      <button class="navbar-toggler toggler-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">       
          <li class="nav-item">       
            <a class="nav-link" href="/"><i>Home</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i>About</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects"><i>Projects</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services"><i>Services</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i>Contact</i></a>
          </li>
      </div>
    </div>
  </nav>