<!-- File Name: projects_page_content.ejs | Student Name: Zachery Cardoza | Student Id: 301183433 | Oct 2nd, 2021 -->
<div class="content">
  <h1 class="row mt-4 projects-title">Solo Projects</h1>
  <div class="row mt-4 p-2">
    <div class="col-sm-4 projects-pic"><img src="images/micrypto.png" alt="" class="rounded"></div>
    <div class="col-sm-8">
        <h4 class="projects-title mt-2">MiCrypto</h4>
        <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero esse laborum fugiat suscipit nam quasi, hic obcaecati quidem ullam facilis molestias, accusamus deleniti minus consectetur.</p>
        <p class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores vero minima fugiat at voluptas eligendi dolores deleniti culpa maxime? Similique porro natus sunt magnam?</p>  
      </div>
    </div>
    <div class="row mt-4 p-2"> 
      <div class="col-sm-4 projects-pic"><img src="images/geoweather.png" alt="" class="rounded"></div>
      <div class="col-sm-8">
          <h4 class="projects-title mt-2">Geo-Weather</h4>
          <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero esse laborum fugiat suscipit nam quasi, hic obcaecati quidem ullam facilis molestias, accusamus deleniti minus consectetur.</p>
          </div>
      </div>
  <div class="row mt-4 p-2">
    <div class="col-sm-4 projects-pic"><img src="images/mobiledevelopment.png" alt="" class="rounded"></div>
    <div class="col-sm-8">
        <h4 class="projects-title mt-2">Tournament Manager</h4>
        <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ad, illo, beatae quia reiciendis obcaecati odit repellat dolorum cupiditate, dolorem assumenda consequatur inventore eos corrupti voluptas doloremque optio et. Error consequuntur autem corrupti hic.</p>
        </div>
    </div>
  </div>