<div class="jumbotron">
    <h1 class="display-4">Welcome To The <%= title %> Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima suscipit veniam facilis praesentium illo rem rerum quia, corrupti perferendis aliquam reiciendis placeat beatae inventore dolor earum, enim blanditiis voluptatem fugit!</p>
  </div>