<div class="contact1">
    <div class="row mt-4 service-title"><h1>Services I Offer</h1></div>
    <div class="row mt-4 p-2">
        <div class="col-sm-4 services-pic"><img src="images/generalprogramming.jpeg" alt="" class="rounded"></div>
        <div class="col-sm-8">
            <h4 class="service-title">General Programming</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet veniam voluptatem reiciendis neque itaque dolores necessitatibus ad eos odio et, minima quis amet iste architecto!</p>
            </div>
        </div>
    <div class="row mt-4 p-2">
        <div class="col-sm-4 services-pic"><img src="images/webdevelopment.jpeg" alt="" class="rounded"></div>
        <div class="col-sm-8">
            <h4 class="service-title">Web Development</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero esse laborum fugiat suscipit nam quasi, hic obcaecati quidem ullam facilis molestias, accusamus deleniti minus consectetur.</p>
            </div>
        </div>
    <div class="row mt-4 p-2">
        <div class="col-sm-4 services-pic"><img src="images/mobiledevelopment.png" alt="" class="rounded"></div>
        <div class="col-sm-8">
            <h4 class="service-title">Mobile Development</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ad, illo, beatae quia reiciendis obcaecati odit repellat dolorum cupiditate, dolorem assumenda consequatur inventore eos corrupti voluptas doloremque optio et. Error consequuntur autem corrupti hic.</p>
            </div>
        </div>
    <div class="row mt-4 p-2"> 
        <div class="col-sm-4 services-pic"><img src="images/gameprogramming.jpeg" alt="" class="rounded"></div>
        <div class="col-sm-8">
            <h4 class="service-title">Game Programming</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero esse laborum fugiat suscipit nam quasi, hic obcaecati quidem ullam facilis molestias, accusamus deleniti minus consectetur.</p>
            </div>
        </div>
    </div>