.projects-pic {
  width: 296px;
}

.projects-pic img {
  max-width: 100%;
}
.projects-title {
  color: var(--popblue);
}
.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
