/* File Name: projects_page_style.css | Student Name: Zachery Cardoza | Student Id: 301183433 | Oct 2nd, 2021 */
.projects-pic {
  width: 296px;
}

.projects-pic img {
  max-width: 100%;
}
.projects-title {
  color: var(--popblue);
}
.content {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
