.services-pic {
  width: 296px;
}

.services-pic img {
  max-width: 100%;
}
.service-title {
  color: var(--popblue);
}
.content {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
