@font-face {
  font-family: "Inconsolata", monospace;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --popred: #907163;
  --popblue: #66fcf1;
  --darkerblue: #45a29e;
  --bgblack: #080c10;
  --bgnotblack: #131c25;
}
body,
html {
  height: 100%;
  font-family: "Inconsolata", monospace;
  background-color: var(--bgblack);
  color: #c5c6c7;
}

/*---------------------------------------------*/
a {
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  line-height: 1.7;
  color: var(--popblue);
  margin: 0px;
  transition: all 0.4s;
}

a:hover {
  text-decoration: none;
  color: #66fcf1;
}
.nav-link {
  color: var(--darkerblue);
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  line-height: 1.7;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

.navbar-custom {
  color: var(--darkerblue);
}
.navbar-custom a:hover {
  color: var(--popblue);
}
.toggler-custom {
  background-color: var(--popblue);
}
.bottomnavbar-custom {
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
