@font-face {
  font-family: "Inconsolata", monospace;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --popred: #907163;
  --popblue: #66fcf1;
  --darkerblue: #45a29e;
  --bgblack: #080c10;
}
body,
html {
  height: 100%;
  font-family: "Inconsolata", monospace;
  background-color: var(--bgblack);
  color: #c5c6c7;
}

/*---------------------------------------------*/
a {
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  line-height: 1.7;
  color: var(--popblue);
  margin: 0px;
  transition: all 0.4s;
}

a:hover {
  text-decoration: none;
  color: #66fcf1;
}
.nav-link {
  color: var(--darkerblue);
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  line-height: 1.7;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

.navbar-custom {
  color: var(--darkerblue);
}
.toggler-custom {
  background-color: var(--popblue);
}
